/* 

bodycolor=#2B2B2B
wrapercolor=#423F3E
wrapertwocolor=#171010
buttoncolor=#362222
*/

/* 
white color palet 
bodycolor=#eaf6f6
buttoncolor=#66bfbf 
background=#fcfefe

backgroundcolor2=#f76b8a


*/
:root {
  --primarybg: #ffffff;
  --secondary: #b6eb7a;
  --main: rgb(23, 110, 109);
  --mainButton: #fb7813;
  --componentbg:rgba(23, 110, 109,.1);
}
body {
  /* background-color: #fcfefe !important;1st style */
  /* background-color: #F9FCFB !important; */
  background-color: var(--primarybg) !important;
}

.common-background-color {
  background: var(--main);
}
.component-background-color {
  background: var(--componentbg);
  border-radius: 8px;
  padding: 15px;
}
.login-wraper .right-side {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 25%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out all;
}

.right-side-reverse {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 100%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-100%, -50%);
  transition: 0.5s ease-in-out all;
}
.left-side {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  right: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(0, -50%);
  transition: 0.5s ease-in-out all;
}

.left-side-reverse {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  right: 0; /* position the left edge of the element at the middle of the parent */
  transform: translate(0%, -50%);
  transition: 0.5s ease-in-out all;
}

.component-background-color {
  position: relative;
  transition: 2s ease-in-out all;
  animation-name: example;
  animation-duration: 4s;
  transition: 0.2s linear all;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 767px) {
  /* body{
    background-color: red !important;
  } */
}
@media (min-width: 0) and (max-width: 650px) {
  .right-side-container {
    display: none;
  }
}

.custom-login {
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out all;
}
.custom-login2 {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 100%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-100%, -50%);
  transition: 0.5s ease-in-out all;
}
/* confirm modal css */

.confirm-class {
  z-index: 100000 !important;
  background: rgba(237, 233, 233, 0.6) !important;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  font-family: "Montserrat", sans-serif;
}

p,
small,
strong {
  font-family: "Open Sans", sans-serif;
}

/* navlink customize  */
/* .nav-tabs .nav-item.show .nav-link, */
.nav-tabs .nav-link.active {
  border: none;
  color: var(--main)!important;
  border-bottom:1px solid var(--main) !important;
  border-width: 3px !important;
  padding: 5px 0;
}
/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover{
color: black !important;
} */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: black;
  padding: 5px 0;
  margin-right: 30px;
  font-weight: 600;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
  color: var(--main) !important;
}
.nav-tabs {
  --bs-nav-tabs-border-width: 0px !important;
}

/* ============================================================================top menu========================================== */
.navbar.navbar-wraper {
  width: 100%;
  height: 9vh;
  background: var(--main);
  border-bottom: 1px solid #66bfbf;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.toggleIconWrapper{
  color:var(--primarybg);
  font-size: 11px;

}
.toggleIconWrapper:hover{
  color: white;
}
/* ============================================================================sidebar========================================== */






/* ===================================================tabs title================================ */

.tabs-title{
  color: var(--main);
}


